SECRET_KEY=change_this-django-insecure-w3!1r@v+fnnc$&#%!7srvr)e#e_uy2he7oe9*kqpm3(i@7jx_j

PROD_DB_NAME=change_this
PROD_DB_USER=change_this
PROD_DB_PASSWORD=change_this
PROD_DB_HOST=change_this

DEV_DB_NAME=change_this
DEV_DB_USER=change_this
DEV_DB_PASSWORD=change_this
DEV_DB_HOST=change_this

EMAIL_HOST=change_this
EMAIL_PORT=change_this
EMAIL_HOST_USER=change_this
EMAIL_HOST_PASSWORD=change_this

SOC_GOOGLE_CLIENT_ID=change_this
SOC_GOOGLE_SECRET=change_this
SOC_GOOGLE_KEY=change_this